$black: #101010;
$grey: #ECECEC;
$white: #fff;


*{
    margin: 0;
    outline-style: none;
    user-select: none;
    box-sizing: border-box;
}

::selection {
    color: $black;
    background-color: $grey;
}


body {
    background-color: $grey;
}


.card {
    
}


hr {
    height: 3px;
    margin-top: 3%;
    background-color: $white;
    border-color: $white;
}
