$black: #101010;
$grey: #ECECEC;

@mixin focusBorder ($borderColorFocus) {
    &:focus {
        border-color: $borderColorFocus;
    }
}

@mixin hideSpctrDefaultBorder($borderColor) {
    box-shadow: none;
    border-color: $borderColor;
}

*{
    margin: 0;
    outline-style: none;
    outline: none;
    user-select: none;
    box-sizing: border-box;
}
::selection {
    color: $black;
    background-color: $grey;
}

//NEW ITEMS
#containerAddItem {
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;

    background-color: $grey;
}

#boxAddItem {
    border-radius: 15px;
    
    &:hover {
        box-shadow: 0px 0px 37px -14px rgba(0,0,0,0.75);
    }
}

#addNewItemInput {
    border-radius: 11px 0 0 11px;
    @include focusBorder($grey);
}

#addNewItemBtn {
    border-radius: 0 11px 11px 0;
    @include focusBorder(#ffb700);
}


//ITEMS
#allItemsBox {
    width: 100%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5%;
}

#itemCard {
    margin: 0.5%;

    &:first-child {
        border-radius: 11px 11px 0 0;
    }

    &:last-child {
        border-radius: 0 0 11px 11px;
    }
}

#itemText {
    @include focusBorder($grey);
}

#btnDone {
    @include focusBorder(#ffb700)
}

#btnEdit {
    @include focusBorder(#32b643);
}

#btnDelete{
    @include focusBorder(#e85600);
}

#iconEditDone {
    width: 14.4px;
    height: 14.4px;
}


//const for hide Spectr delault border
#addNewItemInput, #addNewItemBtn, #itemText, #btnDone, #btnEdit, #btnDelete {
    @include hideSpctrDefaultBorder($grey);
}