$black: #101010;
$grey: #999999;
$white: #fff;


*{
    margin: 0;
    outline-style: none;
    user-select: none;
    box-sizing: border-box;
}

::selection {
    color: $black;
    background-color: $grey;
}


body {
    background-color: $black;
}

hr {
    height: 1px;
    background-color: $white;
}
